{% extends "layout.html" %}
{%set current = 1%}
    {% block content %}
    <div class="container sort-buttons" style="max-width: 25rem;">
        <a href="/?sortBy=year" class=" btn btn-primary" style="max-width: 18rem;">Sort By Year</a>
        <a href="/?sortBy=alphabet" class=" btn btn-primary" style="max-width: 18rem;">Sort By Alphabet</a>
    </div>
    <div class="container-custom">
        <div class="row">
            {% for movie in movies %}
            <div class="col">
                <div class="card " style="max-width: 21rem; max-height: 37rem;">
                    <img src="{{url_for('static', filename = 'images/' + movie.filename)}}" class="movieImage" />
                    <div class="card-body">
                        <h5 class="card-title">{{movie.title}}</h5>
                        <p>
                            Year Created: {{movie.year}}<br />
                            Director: {{movie.director}}
                        </p>
                        <a href="rate?fileName={{movie.filename}}" class="movie-rate-btn btn btn-primary">Rate This Movie!</a>
                    </div>
                </div>
            </div>
            {%if loop.index is divisibleby 4 and not loop.last%}
        </div><div class="row">
            {% endif %}
            <!-- if last column in row -->
            {% endfor %}
        </div>
    </div>
        {% endblock %}
    