{% extends "layout.html"%}

{% block content %}
<h3 class="rate-header">Rate This Movie!</h3>
<!-- checks if the movie has a video url attatched to it and will embed a video if there is-->


<br />

<div class="form-css form-group" id="ratingform">
    <!-- jinja  if statement to display different variations of the form when there is a previous rating or not -->
    <!-- Displays the previous rating and has options to allow the user to change them if need be-->

</div>
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Rate This Movie!</strong>
    </h5>

    <div class="card-body" style="height:1000px">
        {% if video != "Empty"%}
        <div class="iframe-container">
            <iframe src="https://www.youtube.com/embed/{{video}}?autoplay=1" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {%else%}
        <div class="container rating-image card-img-top"><img class="rateImage" src="static/images/{{request.args.get("fileName")}}" /></div>
        {%endif%}
        <form class="md-form" style="color: #757575;" method="POST">
            {%if toRate%}

            <label for="input1">Title</label>
            <input type="text" id="input1" class="form-control" placeholder="" name="title">

            <label for="input2">Year</label>
            <input type="text" id="input2" class="form-control" placeholder="" name="year">

            <label for="input3">Director</label>
            <input type="text" id="input3" class="form-control" placeholder="" name="direct">

            <div class="range-field w-10">
                <input type="range" min="0" max="10" id="slider" name="rating">
            </div>

            <label for="textarea">Summary</label>
            <textarea class="form-control md-textarea" id="textarea" placeholder="" name="summary"></textarea>

            <label for="input3">Video code</label>
            <input type="text" id="input3" class="form-control" placeholder="" name="youtubeID">
            {%else%}
            <p>
                This has been rated: {{rating}}/10 Stars <br />
                Summary:<br />{{summary}}

            </p>
            Hidden form inputs that the user cannot use because Key Errors would occur
            <div class="ghost">
                <label>Title:</label><input type="text" name="title" value="Place Holder" />
                <label>Year Created:</label><input type="text" name="year" value="xxxx" />
                <label>Director:</label><input type="text" name="direct" value="Place Holder" />
                {{toRate}}
                <input class="form-check-input" type="radio" name="rating" value="{{rating}}" checked>
                <input type="text" name="summary" placeholder="{{summary}}" />
                <input class="youtube-box" type="text" name="youtubeID" placeholder="Input Youtube ID" value="{{video}}" />
                <input type="radio" value="false" name="toRateAgain" checked />
            </div>
            <label>Check this box to rate again or change details</label>
            <input type="radio" value="True" name="toRateAgain" />
            {%endif%}
            <input type="submit" />
        </form>
    </div>
</div>


{% endblock %}
