{% extends "layout.html"%}

{% block content %}
<h3>Rate This Movie!</h3>

{% if video == "Empty"%}
<iframe width="560" height="315" src="http://youtu.be/{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{%else%}
<div class="container rating-image"><img class="rateImage" src="static/images/{{request.args.get("fileName")}}"/></div>
{%endif%}

<br />
<form method="POST">
    <div class="form-css form-group" id="ratingform">
        {%if rating == "No previous rating has been found "%}
        <div class="rating-container" style="margin-left:auto; margin-right:auto;">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating" value="1" checked>
                <label class="form-check-label" for="inlineCheckbox1">1 Stars</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating" value="2">
                <label class="form-check-label" for="inlineCheckbox2">2 Stars</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating" value="3">
                <label class="form-check-label" for="inlineCheckbox3">3 Stars</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating" value="4">
                <label class="form-check-label" for="inlineCheckbox4">4 Stars</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rating" value="5">
                <label class="form-check-label" for="inlineCheckbox5">5 Stars</label>
            </div>
        </div>
        <br />

        <input class="input-box" type="text" name="summary" />
        <input type="submit" />

        {%else%}
        <p>
            This has been rated: {{rating}} Stars! <br />
            Summary:<br />{{summary}}
        </p>
        {%endif%}

    </div>
</form>


{% endblock %}